.column {
    width: 100%
}
@media (min-width: 600px) {
    .column {
        width: 50%;
    }
}

body {
    background-color: pink;
    font-family: 'Pixelify Sans', cursive;
}

#tamaImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%
}
 .background-image {
    background-image: url('https://spencer2124.files.wordpress.com/2014/06/background.png');
 }

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 80px;
}

.age{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.userName{
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
}

.buttons {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

#start {
    font-family: 'Pixelify Sans', cursive;
    margin-right: 30px;
    background-color: lightblue;
    border-width: 5px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    font-size: 30px;
}

#feed {
    font-family: 'Pixelify Sans', cursive;
    margin-right: 30px;
    background-color: white;
    border-width: 5px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    font-size: 30px;
}

#play {
    font-family: 'Pixelify Sans', cursive;
    margin-right: 30px;
    background-color: white;
    border-width: 5px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    font-size: 30px;
}

#lights {
    font-family: 'Pixelify Sans', cursive;
    margin-right: 30px;
    background-color: white;
    border-width: 5px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: -10px;

}

.hungerbar {
    text-align: center;
    font-size: 70px;   
}
.boredbar {
    text-align: center;
    font-size: 70px;
}
.sleepbar {
    text-align: center;
    font-size: 70px
}
